<html>
<head>
    <title>Crawler Interface</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Crawler</a>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="alert">{{ status }}</div>
        <div class="row">
            <h1>Crawler</h1>
            <h3>Add new domain to crawl</h3>
        </div>
    </div>
</body>
</html>