<html>
<head>
    <title>Crawler Interface</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.css"/>
    <style type="text/css">
        input[type="text"] {
            box-sizing: content-box;
        }

        .crawl-status {
            list-style: none;
            margin: 0;
        }

        .crawl-request p {
            font-weight: bold;

        }

        .table th, .table td {
            font-size: 12px;
            padding: 4px;
            line-height: 20px;
        }

    </style>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/crawler.js"></script>
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/"><div class="icon-cloud-download"></div> Crawler</a>
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/completed">Completed Job Reports</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div style="margin-top: 30px">
            {{ status }}
            {{ run_status }}
        </div>
        <div class="row">
            <div class="span12">
                <h3>Add new domain to crawl</h3>
                <form class="form-horizontal" method="post">
                    <div class="control-group">
                        <label class="control-label">Domain to crawl</label>
                        <div class="controls">
                            <input class="input-large" type="text" name="domain" id="domain" placeholder="Example: www.google.com"/>
                        </div>

                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" name="robots" id="robots"/> Ignore robots.txt
                            </label>
                            <button type="submit" class="btn btn-primary">Crawl domain</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Current status</h3>
                <ul class="crawl-status">
                    {{crawl_status}}
                </ul>

            </div>
        </div>
    </div>

<script id="request-template" type="x-handlebars-template">
    {{#each domains}}
    <table class="crawl-request table table-striped table-bordered">
        <thead>
        <tr colspan="2">
            <th>{{domain}}</th>
        </tr>
        </thead>
        <tbody>
            <tr><td>Progress</td><td>{{progress}}</td></tr>
            <tr><td>Robots.txt respected</td><td>{{robots}}</td></tr>
            <tr><td>Images crawled</td><td>{{num_images}} (total {{total_size_images}} bytes)</td></tr>
            <tr><td>Videos crawled</td><td>{{num_videos}} (total {{total_size_videos}} bytes)</td></tr>
            <tr><td>Documents crawled</td><td>{{num_documents}} (total {{total_size_documents}} bytes)</td></tr>
            <tr><td>Pages crawled</td><td>{{num_pages}} (total {{total_size_pages}} bytes)</td></tr>
            <tr><td>Total links crawled</td><td>{{num_links}}</td></tr>
            <tr><td>Average round trip time</td><td>{{average_rtt}}</td></tr>
            <tr><td colspan="2"><p>Connected domains ({{num_domains}})</p>
                {{#each connected_domains}}
                    <span class="label label-success">{{this}}</span>
                {{/each}}
            </td></tr>
        </tbody>
    </table>
    {{/each}}
</script>
</body>
</html>